body{
    margin: 0px;
}
.toplo {
    margin-top: 10px;
    border-radius: 25px;
}
img.tm {
    border: 2px solid lightblue;
    border-radius: 10px;
}
.top,
.maininfo {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 5px 100px;
   
}
a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}
h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: extra-bold;
    color: #F9FAF8;
    min-width: 400px;
}
.info-para {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    width: 600px;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 20px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: white;
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
}
.right-link {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 15px;
    list-style: none;
}
.left-info {
    display: flex;
    flex-direction: column;  
}
main { 
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 100px;
    align-items: center;
    
}
.team {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
.member {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdl {
    background-color: #E5E7EB;
    min-height: 200px;
    padding: 5px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dquote {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
}

h3 {
    align-self:flex-end;
}

.signup {
    display: flex;
    padding: 30px 100px;
    justify-content: center;
}
.signtext {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
}
.blue {
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    padding: 10px 20px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    gap: 30px;
}
footer {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F9FAF8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}



